.affiliate-reward {
    min-width: 800px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 20px;
}
.affiliate-reward-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 40px;
}
.affiliate-reward-affiliate-list {
    width: 20%;
    min-width: 400px;
    height: fit-content;
    max-height: 377px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 8px;
}
.affiliate-reward-affiliate-list .size-wrapper {
    width: 100%;
    height: fit-content;
}
.affiliate-reward-convert-history-list {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: start;
}
.affiliate-reward-convert-history-list-container {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 8px;
}
