.header {
    grid-area: header;
    display: flex;
    justify-content: end;
    align-items: center;
    box-sizing: border-box;
    padding: 12px 48px;
    background-color: mediumseagreen;
}
.header-btn {
    position: relative;
}
.header-text {
    font-size: 14px;
    font-weight: 700;
    color: whitesmoke;
}
.header-text-clickable:hover {
    color: darkblue;
    cursor: pointer;
}
#header-context-menu-list {
    position: absolute;
    box-sizing: border-box;
    width: fit-content;
    height: fit-content;
    top: 12px;
    left: 24px;
    padding: 12px;
    background-color: whitesmoke;
    border: none;
    border-radius: 4px;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 8px;
 }
#header-context-menu-list.with-header-context-menu-list-off {
    display: none;
}
.header-context-menu {
    font-size: 14px;
    font-weight: 500;
    color: darkgreen;
}
.header-context-menu:hover {
    color: darkblue;
    cursor: pointer;
}