.header {
    grid-area: header;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 12px 48px;
    background-color: mediumseagreen;
    font-size: 12px;
    font-weight: 700;
    color: whitesmoke;
}
.header-text:hover {
    color: darkblue;
    cursor: pointer;
}