.auth {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
}
.auth-box {
    width: 500px;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}