<head th:fragment="content">
    <meta charset="UTF-8">
    <title>스타벅스 관리자 페이지</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://unpkg.com/dayjs@1.11.10/dayjs.min.js"></script>

    <!-- 공통 관련 -->
    <link rel="stylesheet" th:href="@{/css/common-text.css}" />
    <link rel="stylesheet" th:href="@{/css/common-input.css}" />
    <link rel="stylesheet" th:href="@{/css/common-select.css}" />
    <link rel="stylesheet" th:href="@{/css/common-button.css}" />
    <link rel="stylesheet" th:href="@{/css/common-table.css}" />
    <link rel="stylesheet" th:href="@{/css/common-page.css}" />
    <link rel="stylesheet" th:href="@{/css/common-scrollbar.css}" />
    <!-- 메인 레이아웃 관련 -->
    <link rel="stylesheet" th:href="@{/css/index.css}" />
    <link rel="stylesheet" th:href="@{/css/fragments/logo.css}" />
    <link rel="stylesheet" th:href="@{/css/fragments/header.css}" />
    <link rel="stylesheet" th:href="@{/css/fragments/sidebar.css}" />
    <!-- 인증관련 -->
    <link rel="stylesheet" th:href="@{/css/fragments/auth/index.css}" />
    <link rel="stylesheet" th:href="@{/css/fragments/auth/login.css}" />
    <link rel="stylesheet" th:href="@{/css/fragments/auth/signup.css}" />
    <!-- 제휴사관리 -->
    <link rel="stylesheet" th:href="@{/css/fragments/affiliates/masters/index.css}" />
    <link rel="stylesheet" th:href="@{/css/fragments/affiliates/masters/details.css}" />
    <link rel="stylesheet" th:href="@{/css/fragments/affiliates/rewards/index.css}" />

    <script th:src="@{/js/init.js}"></script>
    <script th:src="@{/js/route.js}"></script>
    <script th:src="@{/js/modal.js}"></script>
    <script th:src="@{/js/formatter.js}"></script>
    <script th:src="@{/js/header.js}"></script>
    <script th:src="@{/js/sidebar.js}"></script>
    <script th:src="@{/js/auth/index.js}"></script>
    <script th:src="@{/js/affiliates/rewards/index.js}"></script>
</head>