<div th:fragment="content" id="header" class="header">
    <div th:if="${session.user == null}" class="header-btn">
        <span class="header-text clickable" onclick="route('auth/login')">
            로그인
        </span>
        <span class="header-text">
            &nbsp;|&nbsp;
        </span>
        <span class="header-text clickable" onclick="route('auth/signup')">
            회원가입
        </span>
    </div>
    <div th:if="${session.user != null}" class="header-btn">
        <span
            class="header-text clickable"
            onclick="toggleHeaderContextMenuList()"
        >
            [[${session.user.username}]]님 안녕하세요
        </span>
        <ul id="header-context-menu-list" class="header-context-menu-list with-header-context-menu-list-off">
            <li id="header-context-menu-logout" class="header-context-menu" onclick="logout()">로그아웃</li>
            <li id="header-context-menu-close" class="header-context-menu" onclick="toggleHeaderContextMenuList()">닫기</li>
        </ul>
    </div>
</div>