.common-table-container {
    width: 100%;
    height: 100%;
    overflow: auto;
}
.common-table {
    width: 100%;
    border-collapse: collapse;
}
.common-table thead {
    position: sticky;
    top: 0;
    z-index: 2;
}
.common-table thead::after {
    content: '';
    position: absolute;
    inset: 0;
    box-shadow: inset 0 1px darkgrey, inset 1px 0 darkgrey;
    pointer-events: none;
}
.common-table th {
    position: sticky;
    top: 0;
    padding: 8px;
    color: black;
    background-color: whitesmoke;
    text-align: center;
    vertical-align: middle;
    font-size: 16px;
    font-weight: 500;
}
.common-table th::after {
    content: '';
    position: absolute;
    inset: 0;
    box-shadow: inset 0 -1px darkgrey, inset -1px 0 darkgrey;
    pointer-events: none;
}
.common-table tbody {
    position: relative;
    top: 0;
}
.common-table tbody::after {
    content: '';
    position: absolute;
    inset: 0;
    box-shadow: inset 1px 0 darkgrey;
    pointer-events: none;
}
.common-table td {
    position: relative;
    top: 0;
    padding: 8px;
    text-align: center;
    vertical-align: middle;
    font-size: 14px;
    font-weight: 400;
    color: black;
}
.common-table td::after {
    content: '';
    position: absolute;
    inset: 0;
    box-shadow: inset 0 -1px darkgrey, inset -1px 0 darkgrey;
    pointer-events: none;
}
.common-table-td-text.clickable:hover {
    color: darkblue;
    cursor: pointer;
}