.common-title {
    width: fit-content;
    height: 32px;
    color: black;
    font-size: 20px;
    font-weight: 600;
    text-align: left;
}
.common-title-sm {
    width: fit-content;
    height: 24px;
    color: black;
    font-size: 20px;
    font-weight: 600;
    text-align: left;
}
.common-table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid darkgrey;
}
.common-table th {
    border-collapse: collapse;
    border: 1px solid darkgrey;
    padding: 8px 4px 8px 4px;
    text-align: center;
    vertical-align: middle;
    font-size: 16px;
    font-weight: 500;
    color: black;
    background-color: whitesmoke;
}
.common-table td {
    border-collapse: collapse;
    border: 1px solid darkgrey;
    padding: 4px;
    text-align: center;
    vertical-align: middle;
    font-size: 14px;
    font-weight: 400;
    color: black;
}
.common-input-with-label {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
}
.common-input-with-label > label {
    width: 20%;
    height: 20px;
    padding-top: 2px;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    color: black;
}
.common-input-with-label > input {
    width: 80%;
    height: 24px;
    padding: 2px 4px 2px 4px;
    border: 1px solid darkgreen;
    border-radius: 4px;
    color: black;
    background-color: whitesmoke;
}
.common-label {
    box-sizing: border-box;
    width: 100%;
    height: 20px;
    padding-top: 2px;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    color: black;
}
.common-input {
    box-sizing: border-box;
    width: 100%;
    height: 24px;
    padding: 2px 4px 2px 4px;
    border: 1px solid darkgrey;
    border-radius: 2px;
    color: black;
    background-color: transparent;
}
.common-input:disabled {
    color: darkgrey;
    background-color: whitesmoke;
}
.common-horizontal-buttons {
    width: 100%;
    height: fit-content;
    padding: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.common-button {
    width: 25%;
    height: 28px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 600;
    color: whitesmoke;
    background-color: darkgreen;
}
.common-button:hover {
    border: 1px solid darkgreen;
    color: whitesmoke;
    background-color:mediumseagreen;
}