#affiliate-master-details {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 16px;
}
#affiliate-master-details-form {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: start;
    align-items: center;
}