.affiliate-master {
    min-width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 20px;
}
.affiliate-master-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 40px;
}
.affiliate-master-affiliate-list {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 8px;
}
.open-modal-btn {
    width: 44px;
    height: 24px;
    padding: 4px;
    border: 1px solid whitesmoke;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 500;
    color: black;
    background-color: whitesmoke;
}
.open-modal-btn:hover {
    font-weight: 500;
    color: whitesmoke;
    background-color: mediumseagreen;
}