<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>스타벅스 홈페이지</title>
    <link rel="stylesheet" th:href="@{/css/common.css}" />
    <link rel="stylesheet" th:href="@{/css/index.css}" />
    <link rel="stylesheet" th:href="@{/css/fragments/logo.css}" />
    <link rel="stylesheet" th:href="@{/css/fragments/header.css}" />
    <link rel="stylesheet" th:href="@{/css/fragments/sidebar.css}" />

    <link rel="stylesheet" th:href="@{/css/fragments/auth/index.css}" />
    <link rel="stylesheet" th:href="@{/css/fragments/auth/login.css}" />
    <link rel="stylesheet" th:href="@{/css/fragments/auth/signup.css}" />

    <link rel="stylesheet" th:href="@{/css/fragments/affiliate/master.css}" />
    <link rel="stylesheet" th:href="@{/css/fragments/affiliate/master-details.css}" />

    <script th:src="@{/js/common.js}"></script>
</head>
<body>
<div class="layout-container">
    <div th:replace="~{fragments/logo :: content}"></div>
    <div th:replace="~{fragments/header :: content}"></div>
    <div th:replace="~{fragments/sidebar :: content}"></div>
    <div th:insert="~{fragments/index :: content}" id="content-container" class="content-container"></div>
</div>

</body>
</html>