<div th:fragment="content(affiliateList)" class="affiliate-reward-affiliate-list">
    <div class="common-title-md">제휴사 목록</div>
    <div class="wrapper scrollable">
        <table class="common-table">
            <thead>
                <tr>
                    <th style="width: 20%">순번</th>
                    <th style="width: 30%">제휴사코드</th>
                    <th style="width: 50%">제휴사명</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="a, iterStat : ${affiliateList}">
                    <td th:text="${iterStat.index + 1}"></td>
                    <td th:text="${a.ticker}"></td>
                    <td class="common-table-td-text clickable" th:text="${a.name}" th:onclick="|filterRewardConvertHistoryList(${a.id}, 1, 10)|"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>